*
!Snakefile
!config.yaml
!samples.tsv
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.editorconfig
!.gitattributes
!.test/
!.test/*
.test/seqdata_trimmed
!.test/fastq/*
!.test/fastq/sample1/*
!.travis.yml
